KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_CRYPTO_PRICES_NAME=crypto-prices
KAFKA_TOPIC_CRYPTO_PRICES_PARTITIONS=3
KAFKA_TOPIC_CRYPTO_PRICES_REPLICATION_FACTOR=1

API_PROVIDER_URL=https://api.coingecko.com/api/v3
API_PROVIDER_SYMBOLS=bitcoin,ethereum,solana